<!DOCTYPE html>
<html>
  <head>
    <title>CookbookRevelo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

      <div class="logo">
        <%= link_to root_path, :class => 'simple-text logo-normal' do %>
          Cookbook
        <% end %>
        <% body = ''%>
        <% if user_signed_in?%>         
           <%= link_to destroy_user_session_path, method: :delete, :class => 'nav-link' do %>            
            <i class="material-icons">person</i>   
            <p>space</p> Sair       
          <% end %>

        <% else %>
          <%= link_to new_user_session_path, :class => 'nav-link' do %>            
            <i class="material-icons">person</i>   
            <p>space</p> Entrar       
          <% end %>
        <% end %>

      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">            
            <%= link_to root_path, :class => 'nav-link' do %>
              <i class="material-icons">dashboard</i>
              <p>Página Inicial</p>
            <% end %>
          </li>
          <li class="nav-item ">            
            <%= link_to new_recipe_path, :class => 'nav-link' do %>
              <i class="material-icons">person</i>
              <p>Enviar uma receita</p>
            <% end %>
          </li>
          <li class="nav-item ">            
            <%= link_to new_recipe_type_path, class: 'nav-link' do %>
              <i class="material-icons">content_paste</i>
              <p>Enviar tipo da receita</p>
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to recipe_types_path, class: 'nav-link' do %>
              <i class="material-icons">library_books</i>
              <p>Ver tipos de receitas</p>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item ">
              <%= link_to my_recipes_path, class: 'nav-link' do %>
                <i class="material-icons">bubble_chart</i>
                <p>Minhas Receitas</p>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to my_lists_lists_path, class: 'nav-link' do %>
                <i class="material-icons">location_ons</i>
                <p>Minhas Listas</p>
              <% end %>
            </li>
            <li class="nav-item ">
              <%= link_to new_list_path, class: 'nav-link' do %>
                <i class="material-icons">notifications</i>
                <p>Criar lista</p>
              <% end %>
            </li>
            <% if current_user.admin? %>
              <li class="nav-item ">
                <%= link_to approve_list_recipes_path, class: 'nav-link' do %>
                  <i class="material-icons">language</i>
                  <p>Receitas Pendentes</p>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <%= render partial: 'recipes/search' %>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <%= notice %>
          <%= yield %>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  Revelo
                </a>
              </li>
              <li>
                <a href="#">
                  Sobre nós
                </a>
              </li>
              <li>
                <a href="#">
                  Blog
                </a>
              </li>             
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <%= Time.now.year %>, criado no bootcamp da </i>
            <a href="https://www.revelo.com.br/" target="_blank">Revelo</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>  

  </body>
</html>
